
$bodyBackground: #ebe5e5;
$navButtonBorderRadius: 5px;
$navButtonHoverBackground: #ffffff;
$navButtonActiveBackground: #ddd5d5;
$navButtonHoverColor: #000000;
$navButtonActiveColor: #000000;
$MainMarginTop: 15px;
$borderTitleCard: solid 1px rgb(232, 0, 0);
$heightCards: 70px;
$articulosCardBorderRadius: 10px;
$seccionDiv-Padding: 7px;
$sectionDetalleBorderRadius: 25px;

span {
	&.negrita {
		font-weight: bolder;
	}
	&.inclinado {
		font-style: italic;
	}
	&.subrayado {
		text-decoration: underline;
	}
	&.tachado {
		text-decoration: line-through;
	}
}

body {
	background-color: $bodyBackground;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	app-navbar {
		ul {
			li {
				border-radius: $navButtonBorderRadius;
				-webkit-border-radius: $navButtonBorderRadius;
	
				&:hover {
					background-color: $navButtonHoverBackground;
					
					a {
						color: $navButtonHoverColor !important;
					}
				}
				&:active {
					background-color: $navButtonActiveBackground;
					
					a {
						color: $navButtonActiveColor !important;
					}
				}
			}
		}
	}

	main {
		position: relative;
		height: 85%;

		&.container {
			margin-top: $MainMarginTop;
		}
	
		app-articulos {
			position: relative;

			section {
				& > div {
					padding: $seccionDiv-Padding !important;
					
					article {
						border-radius: $articulosCardBorderRadius !important;
						cursor: pointer;
						float: left;
						width: 100%;

						h5.card-title {
							border-bottom: $borderTitleCard;
						}
						div.card-body {
							p {
								// display: block;
								display: inline-block;
								// float: left;
								overflow:hidden;
								text-overflow:ellipsis;
								// width: 90%;
								height: $heightCards;
							}
							// aside {
							// 	display: block;
							// 	float: left;
							// 	width: 9%;
							// }
						}
					}
				}
			}
		}
		app-detalle {
			section {
				background-color: #ffffff;
				border-radius: $sectionDetalleBorderRadius;
				-webkit-border-radius: $sectionDetalleBorderRadius;
				min-height: 100%;
				position: relative;

				header, article {
					display: inline-block;
					margin: 30px 30px;
					width: calc(100% - 60px);
				}
				article {
					margin-top: 0;
				}
			}
		}
		app-crear-articulo {
			section {
				height: 100%;
				// position: relative;

				article {
					// position: relative;
					&:nth-child(2) {
						// background: red;
						height: 40%;

						textarea {
							height: 80%;
							resize: none;
						}
					}
					&:nth-child(3) {
						// background: green;
						height: 40%;
					}
				}
			}
		}
	}
}